body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001f3f; /* Dark Blue */
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.center {
    font-size: 3rem;
    font-weight: bold;
}
